.banner
{
    background-image: url("../images/1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 40vh;
    background-position: center;
}
.row
{
    text-align: center;
}